.projects {
  width: 100%;
  padding: 20px 0;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #fff1e6;
  font-family: "Open Sans", sans-serif;
  color: #122023;
  scroll-margin-top: 80px;
}
.projects h1 {
  color: #122023;
  font-size: 36pt;
  font-family: "Roboto", sans-serif;
  text-align: center;
  margin: 20px 0;
  position: relative;
}
.projects .projectTitle {
  text-align: center;
  color: #122023;
  font-size: 60px;
  font-weight: bolder;
}

.projectList {
  width: 70vw;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
}

.projectItem {
  border-radius: 15px;
  width: 300px;
  height: 340px;
  margin: 40px;
  padding: 10px;
  position: relative;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.064);
  text-align: center;
  overflow: hidden;
  border: 1px solid #cccccc18;
}

.projectItem:hover {
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-in;
  cursor: pointer;
}
.bgImage {
  width: 100%;
  height: 60%;
  background-size: cover;
  background-position: center;
  position: relative;
}

.projectItem h1 {
  font-size: 36px;
  font-weight: 700;
  margin-top: 10px;
}
.projectItem h2 {
  font-size: 24px;
  margin-top: 8px;
}

a:link,
a:visited {
  color: #122023;
  text-decoration: none;
}

.projectItem p {
  font-size: 16px;
  color: #122023;
  margin-top: 10px;
  line-height: 1.5;
}

/* .viewProjectLink {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  text-decoration: none;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 5px;
} */
/* .viewProjectLink p {
  text-align: center;
  font-size: 26px;
  font-weight: bold;
} */

/*  "view project" appear on hover, currently switched off
 .projectItem:hover .viewProjectLink {
  opacity: 1;
} */

.techIcons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 8px;
}

.techIcon {
  font-size: 24px;
  color: #122023;
}

@media only screen and (max-width: 1300px) {
  .projectList {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 800px) {
  .projectList {
    width: 100%;
    grid-template-columns: 1fr;
    gap: 5px;
  }
  .projectItem {
    width: 300px;
    /* height: 300px; */
  }
}
